:root {
    --color-font: #000;
    --color-bg: #fff;
    --color-bg-blur: #00000030;
    --color-header-bg-hover: #f5f5f5;
    --color-header-bg-special: #0077ff;
    --color-header-text-special: #fff;
    --color-header-bg-special-hover: #0065d8;
    --color-header-border: #e0e0e0;
    --color-a: #2d76d6;
    --color-pagetitle: #3c90ff;
    --color-border: #707070;
    --color-button-bg: #008fe2;
    --color-button-text: #fff;
    --color-button-hover-bg: #0072b4;
    --color-input-border: #707070;
    --color-input-bg: unset;
    --color-input-text: #000;
    --color-input-active: #0aa2fa;
    --color-select-bg: #ffffff;
    --color-label: #727272;
    --color-task-status-bg: #0b7ec0;
    --color-task-status-bar: #707070;

    --color-dataContent-bg: #e2e2e2;
    --color-dataContent-title-color: #565656;
    --color-dataContent-value-color: #000;
    --color-dataContent-extra-color: #707070;

    --color-group-bg: #707070;
    --color-group-text: #fff;
    --color-footer: #505050;
    --color-footer-border: #b9b9b9;
}