/*
 * ZaiForm Public Stylesheet
 * Created by: Muisnow <muisnowbusiness@gmail.com>
 *
 * Copyright 2022 The ZaiForm Authors.
 * Copyright 2022 Muisnow Developer.
 * 
 * Repository: https://github.com/sanZi-Network/ZaiForm
 */

@import url(/css/default-size.css) screen and (min-width: 768px);
@import url(/css/small-size.css) screen and (max-width: 767px);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--color-font);
    overflow-wrap: break-word;
    transition: .3s;
}

body {
    background-color: var(--color-bg);
}

a {
    text-decoration: none;
    color: var(--color-a);
    cursor: pointer;
}

[data-extra] {
    position: relative;
}

[data-extra]::before {
    position: absolute;
    top: -33px;
    min-width: calc(100% - 10px);
    text-align: center;
    font-size: .8em;
    background: #202020af;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    content: attr(data-extra);
    width: max-content;
    opacity: 0;
    animation: popdown .3s cubic-bezier(0.04, 1.04, 0.51, 0.97);
}

[data-extra]:hover::before {
    opacity: 1;
    animation: popup .3s cubic-bezier(0.04, 1.04, 0.51, 0.97);
}

.theme-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgba(226, 232, 240, 0);
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
}

.theme-icon:hover .fa-moon,
.theme-icon:hover .fa-sun {
    color: #fff !important;
}

:root:not(.light) .theme-icon .fa-moon {
    display: none;
}

:root:not(.light) .theme-icon .fa-sun {
    display: inline-block;
    color: var(--color-font);
}

:root.light .theme-icon .fa-sun {
    display: none;
}

:root.light .theme-icon .fa-moon {
    display: inline-block;
}

.sr-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
}

section {
    display: flex;
    min-height: calc(100vh - 116px - 110px);
    justify-content: center;
}

section .pageTitle {
    font-size: 2rem;
    font-weight: 200;
    padding: 15px 0;
    display: inline-block;
}

section .pageTitle::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-pagetitle);
    margin-top: 5px;
    border-radius: 5px;
}

.dataContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dataContent .dataBox {
    display: block;
    flex: 1 1 auto;
    min-height: 100px;
    border-radius: 15px;
    background-color: var(--color-dataContent-bg);
    padding: 15px;
    margin: 15px;
}

.dataContent .dataBox .dataTitle {
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
    color: var(--color-dataContent-title-color);
}

.dataContent .dataBox .dataValue {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-dataContent-value-color);
}

.dataContent .dataBox .dataValue.score::after {
    display: inline-block;
    content: "分";
    font-size: 1rem;
    font-weight: 200;
    color: var(--color-dataContent-title-color);
    margin-left: 5px;
}

.dataContent .dataBox .dataExtra {
    font-size: .8rem;
    color: var(--color-dataContent-extra-color);
}

.separate {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate span {
    padding: 5px;
    color: #c8c8c8;
    vertical-align: middle;
}

.separate::after,
.separate::before {
    content: "";
    display: inline-block;
    width: 35%;
    border-top: 2px #c8c8c8 solid;
    flex: auto;
}

#pathName {
    font-size: 25px;
    line-height: 25px;
}

.page {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

label {
    position: absolute;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    color: var(--color-label);
    padding: 0 10px;
    transition: .2s ease-in-out, font-size .2s ease-in-out;
    font-weight: 200;
    margin: 15px 0;
    cursor: text;
}

.active label {
    font-size: 15px;
    transform: translate(-13px, -18px);
    color: var(--color-input-active);
}

input {
    width: calc(100% - 15px);
    border: 0;
    line-height: 40px;
    border-bottom: 2px #707070 solid;
    color: var(--color-input-text);
    background-color: var(--color-input-bg);
    font-size: 20px;
    padding: 0 0 2px 15px;
    margin: 15px 0;
}

input:active,
input:focus-visible,
.active input {
    outline: none;
    border-bottom: 2px var(--color-input-active) solid;
}

select {
    max-width: 100%;
    border: 0;
    line-height: 40px;
    border-bottom: 2px #707070 solid;
    color: var(--color-input-text);
    background-color: var(--color-input-bg);
    font-size: 20px;
    padding: 0 0 2px 15px;
    margin: 15px 0;
}

select option {
    color: var(--color-input-text);
    background-color: var(--color-select-bg);
}

button {
    transition: .3s;
    display: block;
    background-color: var(--color-button-bg);
    border: 0;
    color: var(--color-button-text);
    border-radius: 5px;
    width: calc(100% - 30px);
    height: 50px;
    font-size: 20px;
    margin: 15px;
}

button:hover {
    background-color: var(--color-button-hover-bg);
}

button:active {
    box-shadow: inset #000 0px 0px 4px 2px;
    background-color: var(--color-button-hover-bg);
}

.toastBox {
    display: block;
    position: fixed;
    bottom: 0;
    right: 30px;
    max-width: 250px;
    width: calc(100% - 60px);
    z-index: 999999;
    margin: 10px;
}

.toastBox .toastBoxMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 3px solid rgb(182, 182, 182);
    padding: 10px;
    border-radius: 5px;
    word-break: break-word;
    margin: 5px 0;
}

.toastBox .toastBoxMessage p {
    color: #fff !important;
}

.toastBox .toastBoxMessage.success {
    border: 3px solid #3ccf37 !important;
    background-color: #246e21 !important;
}

.toastBox .toastBoxMessage.error {
    border: 3px solid #ff5c5c !important;
    background-color: #7f0000 !important;
}

.toastBox .toastBoxMessage.info {
    border: 3px solid #00b3ff !important;
    background-color: #0066cc !important;
}

.toastBox .toastBoxMessage.warning {
    border: 3px solid #ffb900 !important;
    background-color: #e07f00 !important;
}

table {
    width: 100%;
}

table tr {
    text-align: center;
    display: inline-flex;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    justify-content: center;
    align-items: center;
}

table tr td {
    width: 100%;
    height: 100%;
    display: revert;
}

table tr td span {
    display: inline-block;
    height: 100%;
    width: 100%;
}

table tr td>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table tr td>div.lackClass {
    border-radius: 15px;
    margin: 15px 0;
    background-color: var(--color-group-bg);
    color: var(--color-group-text);
}

table tr td>div span {
    padding: 5px;
    color: var(--color-group-text);
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-top: .5px var(--color-footer-border) solid;
    bottom: 0;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
    color: var(--color-footer);
}

footer div span:not(:last-child)::after {
    display: inline-block;
    content: "•";
    margin: 0 5px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 80px 0 5px 0;
    background: #ff000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #7a7a7a75;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f90;
}

::-webkit-scrollbar-thumb:active {
    background: #505050;
}

::-webkit-scrollbar-corner {
    background-color: #ffffff00;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(70deg);
    }

    60% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes popup {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: -33px;
        opacity: 1;
    }
}

@keyframes popdown {
    0% {
        top: -33px;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 0;
    }
}